<link href="{{site.base}}/css/bootstrap.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{site.base}}/css/prism.css" rel="stylesheet">
<link href="{{site.base}}/css/craftoe.css" rel="stylesheet">

<style>
.center-image
{
    margin: 0 auto;
    display: block;
}
</style>
