<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{site.base}}/js/bootstrap.min.js"></script>

<!--
<script src="{{site.base}}/js/moment.min.js"></script>
<script src="{{site.base}}/js/mustache.js"></script>
<script src="{{site.base}}/js/helpers.js"></script>
<script src="{{site.base}}/js/dueIn.js"></script>
<script src="{{site.base}}/js/raphael.js"></script>
<script src="{{site.base}}/js/prism.js"></script>
<script src="{{site.base}}/js/date.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
-->
