
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
      <a href="{{site.base}}/"><img src="{{site.base}}/images/{{site.data.course.nav_logo}}" height='80px'></a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.base}}/{{site.data.course.resources}}/book/"> {% include fa name = "book fa-fw" size="2x" %} Book</a></li>
        <li><a href="https://jadudm-berea.youcanbook.me/"> {% include fa name = "calendar fa-fw" size="2x" %} Appts.</a></li>
        <li><a href="{{site.base}}/{{site.data.course.resources}}/" >{% include fa name="file-text-o  fa-fw" size="2x" %} Admin</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<script>
var tutorials = [
  {{tutorials}}
];
</script>
